head, body{
    background-color: #E7F4FF;
    margin: 0;
    padding: 0;
}


@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    font-family: 'Roboto', sans-serif; 
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #99CCF8;
}

.header-title {
    margin: 0;
}

.center-container {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.back-button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.body-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

.form-container {
    width: 400px; 
    padding: 30px; 
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #dff0fc;

}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
}

input[type="text"],
input[type="password"],input[type="email"] {
    margin-bottom: 20px;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.submit-button {
    padding: 15px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 18px;
    margin: 10px;
}

.submit-button:hover {
    background-color: #0056b3;
}

p {
    margin: 0;
    padding-top: 20px;
    color: black;
    font-size: 18px;
}